#header{
    padding:2rem 11rem;
}
.carrito{
    text-align:right;
}
.subMenu-carrito{
    position: absolute;
    visibility: hidden;
    background-color: white;
}
.subMenu-carrito.show{
    visibility: visible;
}
.subMenu-carrito table tr td{
    padding: 1rem;
}
#hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 350px;
    color: white;
    padding: 4rem 0 0 8rem;
}
#barra{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);    
    color: white;
    padding: 1rem 11rem;
}
#lista-cursos h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}